.weather{
  background-color:black;
  display:flex;
  flex-direction: column;
  padding: 75px;
  justify-items: center;
  align-items: center;


}
.input{
  padding: 10px;
  width: 80%;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
}
.input:focus{
  outline-style: none;
}
.data{
  display:-webkit-inline-flex;
}
.app{
  text-align: center;
}
.list{
  display:flex;
}
.list:hover{
  background-color: bisque;
}
.search{
  width: 80%;
  overflow: hidden;
  height:100px;
  overflow-y: scroll ;
}