body{


  background-color:black;
}
.weather{
  /* display:-moz-grid-line; */
  flex-direction: column;
  padding: 75px;
  justify-items: center;
  margin: auto ;
  align-items: center;
  
  color: white;

 



}
.input{
  align-items: right;
  padding: 10px;
  width: 50vw;
  margin: auto 0;
  margin-left: auto ;
  border: 1px solid lightgray;
  border-radius: 6px;
  font-size: 16px;
  direction: rtl;
  color: white;
}
.input:focus{
  outline-style: none;
}
.data{
  color: beige;

  width:400px;
  height: 400px;
  display:block;
  margin: auto ;
  font-size: 30px;
  font-style: oblique;

 

}

.app{
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 50pc;
  background-image: url(./img/back2.jpg);
  background-repeat: no-repeat;
  background-position: 50%;
  align-items: center;
  place-items: center;

}
.list{

  color: white;
  display:block;  
  width: 500px;
  text-shadow: 1px;

}
.list:hover{
  background-color: gray;
 
}
.search{
  font-size: 22px;
  width: 50vw;
  overflow: hidden;
  height:100px;
  overflow-y: auto ;
  margin: auto;
 display: block;
}
.state{
margin-right: 20px;}
.city{
  margin-right:20px;
}
.tmp{
  display:block;
  margin-right:20px;
  font-size:50px;
}